*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 80vh;
}


.register-page{
  height: 90vh;
  /*other css properties can be written here instead usign bootstrap*/
}

.login-page{
  height: 90vh;
}

/*css for add transaction div*/
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0 0 3px gray;
}